<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java4.asm2polyoe.mapper.ShareMapper">
    <select id="findAll" resultType="Share">
        SELECT Id as id, UserId as userId, VideoId as videoId, Emails as emails, ShareDate as shareDate 
        FROM Share
    </select>

    <select id="findById" parameterType="long" resultType="Share">
        SELECT Id as id, UserId as userId, VideoId as videoId, Emails as emails, ShareDate as shareDate 
        FROM Share WHERE Id = #{id}
    </select>

    <insert id="insert" parameterType="Share">
        INSERT INTO Share (Id, UserId, VideoId, Emails, ShareDate)
        VALUES (#{id}, #{userId}, #{videoId}, #{emails}, #{shareDate})
    </insert>

    <update id="update" parameterType="Share">
        UPDATE Share
        SET UserId = #{userId},
            VideoId = #{videoId},
            Emails = #{emails},
            ShareDate = #{shareDate}
        WHERE Id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM Share WHERE Id = #{id}
    </delete>
</mapper>